In [2]:
import pandas as pd

In [3]:
# Ð’Ñ‹Ð²Ð¾Ð´ Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð¸Ð· csv Ð²Ð¾ Ð²ÑÑŽ ÑˆÐ¸Ñ€Ð¸Ð½Ñƒ Ð¾ÐºÐ½Ð°
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

1) ÐÐ°Ñ‡Ð½ÐµÐ¼ Ñ Ð¿Ñ€Ð¾ÑÑ‚Ð¾Ð³Ð¾ Ð²Ð¾Ð¿Ñ€Ð¾ÑÐ°: Ñ‡Ñ‚Ð¾ Ð¿Ñ€Ð¾Ð¸Ð·Ð¾Ð¹Ð´ÐµÑ‚ Ð² Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚Ðµ Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ñ ÑÐ»ÐµÐ´ÑƒÑŽÑ‰ÐµÐ¹ ÐºÐ¾Ð¼Ð°Ð½Ð´Ñ‹?
import pandas as pnds

2) Ð¢ÐµÐ¿ÐµÑ€ÑŒ Ð¿Ð¾Ñ€Ð°Ð±Ð¾Ñ‚Ð°ÐµÐ¼ Ñ Ð´Ð°Ð½Ð½Ñ‹Ð¼Ð¸ Ð¾ Ð¿Ð¾ÐµÐ·Ð´ÐºÐ°Ñ… Ð½Ð° Ñ‚Ð°ÐºÑÐ¸ Ð² ÐÑŒÑŽ-Ð™Ð¾Ñ€ÐºÐµ, Ð³Ð´Ðµ Ñ‚Ð°ÐºÐ¶Ðµ Ð¸Ð¼ÐµÐµÑ‚ÑÑ Ð¸Ð½Ñ„Ð¾Ñ€Ð¼Ð°Ñ†Ð¸Ñ Ð¾ Ð¿Ð¾Ð³Ð¾Ð´Ð½Ñ‹Ñ… ÑƒÑÐ»Ð¾Ð²Ð¸ÑÑ… Ð¸ Ð²Ñ‹Ñ…Ð¾Ð´Ð½Ñ‹Ñ… Ð´Ð½ÑÑ….

* pickup_dt â€“ Ð¿ÐµÑ€Ð¸Ð¾Ð´ Ñ Ñ‚Ð¾Ñ‡Ð½Ð¾ÑÑ‚ÑŒÑŽ Ð´Ð¾ Ñ‡Ð°ÑÐ°
* pickup_month â€“ Ð¼ÐµÑÑÑ†
* borough â€“ Ñ€Ð°Ð¹Ð¾Ð½ ÐÑŒÑŽ-Ð™Ð¾Ñ€ÐºÐ°, Ð¸Ð· ÐºÐ¾Ñ‚Ð¾Ñ€Ð¾Ð³Ð¾ Ð±Ñ‹Ð» ÑÐ´ÐµÐ»Ð°Ð½ Ð·Ð°ÐºÐ°Ð· (5 Ñ€Ð°Ð¹Ð¾Ð½Ð¾Ð² + Ð°ÑÑ€Ð¾Ð¿Ð¾Ñ€Ñ‚)
* pickups â€“ Ñ‡Ð¸ÑÐ»Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº Ð·Ð° Ð¿ÐµÑ€Ð¸Ð¾Ð´ (Ñ‡Ð°Ñ)
* hday â€“ ÑÐ²Ð»ÑÐµÑ‚ÑÑ Ð»Ð¸ Ð´ÐµÐ½ÑŒ Ð¿Ñ€Ð°Ð·Ð´Ð½Ð¸Ñ‡Ð½Ñ‹Ð¼/Ð²Ñ‹Ñ…Ð¾Ð´Ð½Ñ‹Ð¼; Y - Ð´Ð°,  N - Ð½ÐµÑ‚
* spd â€“ ÑÐºÐ¾Ñ€Ð¾ÑÑ‚ÑŒ Ð²ÐµÑ‚Ñ€Ð° Ð² Ð¼Ð¸Ð»ÑÑ… Ð² Ñ‡Ð°Ñ
* vsb â€“ Ð²Ð¸Ð´Ð¸Ð¼Ð¾ÑÑ‚ÑŒ
* temp â€“ Ñ‚ÐµÐ¼Ð¿ÐµÑ€Ð°Ñ‚ÑƒÑ€Ð° Ð² Ð³Ñ€Ð°Ð´ÑƒÑÐ°Ñ… Ð¤Ð°Ñ€ÐµÐ½Ð³ÐµÐ¹Ñ‚Ð°
* dewp â€“ Ñ‚Ð¾Ñ‡ÐºÐ° Ñ€Ð¾ÑÑ‹ Ð¿Ð¾ Ð¤Ð°Ñ€ÐµÐ½Ð³ÐµÐ¹Ñ‚Ñƒ
* slp â€“ Ð´Ð°Ð²Ð»ÐµÐ½Ð¸Ðµ
* pcp_01 â€“ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¾ÑÐ°Ð´ÐºÐ¾Ð² Ð·Ð° Ñ‡Ð°Ñ
* pcp_06 â€“ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¾ÑÐ°Ð´ÐºÐ¾Ð² Ð·Ð° 6 Ñ‡Ð°ÑÐ¾Ð²
* pcp_24 â€“ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¾ÑÐ°Ð´ÐºÐ¾Ð² Ð·Ð° 24 Ñ‡Ð°ÑÐ°
* sd â€“ Ð³Ð»ÑƒÐ±Ð¸Ð½Ð° ÑÐ½ÐµÐ³Ð° Ð² Ð´ÑŽÐ¹Ð¼Ð°Ñ…

Ð˜Ð¼Ð¿Ð¾Ñ€Ñ‚Ð¸Ñ€ÑƒÐ¹Ñ‚Ðµ Ð±Ð¸Ð±Ð»Ð¸Ð¾Ñ‚ÐµÐºÑƒ pandas, Ð° Ð·Ð°Ñ‚ÐµÐ¼ Ð·Ð°Ð³Ñ€ÑƒÐ·Ð¸Ñ‚Ðµ Ð´Ð°Ñ‚Ð°ÑÐµÑ‚ 2_taxi_nyc (Ð½Ð°Ñ…Ð¾Ð´Ð¸Ñ‚ÑÑ Ð² Ð¿Ð°Ð¿ÐºÐµ). Ð ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚ ÑÐ¾Ñ…Ñ€Ð°Ð½Ð¸Ñ‚Ðµ Ð² Ð¿ÐµÑ€ÐµÐ¼ÐµÐ½Ð½ÑƒÑŽ taxi.
Ð”Ð»Ñ Ð·Ð°Ð³Ñ€ÑƒÐ·ÐºÐ¸ Ð´Ð°Ñ‚Ð°ÑÑÑ‚Ð° Ð² pandas Ð¿Ð¾ ÑÑÑ‹Ð»ÐºÐµ Ð¿Ñ€Ð¾ÑÑ‚Ð¾ Ð²Ñ‹Ð¿Ð¾Ð»Ð½Ð¸Ñ‚Ðµ pd.read_csv('path')

In [4]:
# taxi = pd.read_csv("https://stepik.org/media/attachments/lesson/360340/2_taxi_nyc.csv")
taxi = pd.read_csv("data/2_taxi_nyc.csv")

# ÑÑ‚Ð¾ Ð¿Ð¸Ñ‚Ð¾Ð½Ð¾Ð²ÑÐºÐ¸Ð¹ ÐºÐ¾Ñ€Ñ‚ÐµÐ¶ - ÑÑ‚Ñ€ÑƒÐºÑ‚ÑƒÑ€Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð¿Ð¾Ñ…Ð¾Ð¶Ð°Ñ Ð½Ð° Ð½Ðµ Ð¸Ð·Ð¼ÐµÐ½ÑÐµÐ¼Ñ‹Ðµ ÑÐ¿Ð¸ÑÐºÐ¸
print('ÐŸÐµÑ€Ð²Ñ‹Ðµ 5 ÑÑ‚Ñ€Ð¾Ðº:\n', taxi.head())

ÐŸÐµÑ€Ð²Ñ‹Ðµ 5 ÑÑ‚Ñ€Ð¾Ðº:
              pickup_dt pickup_month    borough  pickups hday  spd   vsb  temp  dewp     slp  pcp 01  pcp 06  pcp 24   sd
0  2015-01-01 01:00:00          Jan      Bronx      152    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
1  2015-01-01 01:00:00          Jan   Brooklyn     1519    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
2  2015-01-01 01:00:00          Jan        EWR        0    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
3  2015-01-01 01:00:00          Jan  Manhattan     5258    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
4  2015-01-01 01:00:00          Jan     Queens      405    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0

In [5]:
print('ÐŸÐ¾ÑÐ»ÐµÐ´Ð½Ð¸Ðµ 5 ÑÑ‚Ñ€Ð¾Ðº:\n', taxi.tail())

ÐŸÐ¾ÑÐ»ÐµÐ´Ð½Ð¸Ðµ 5 ÑÑ‚Ñ€Ð¾Ðº:
                  pickup_dt pickup_month        borough  pickups hday  spd   vsb  temp  dewp     slp  pcp 01  pcp 06  pcp 24   sd
29096  2015-06-30 23:00:00          Jun            EWR        0    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29097  2015-06-30 23:00:00          Jun      Manhattan     3828    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29098  2015-06-30 23:00:00          Jun         Queens      580    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29099  2015-06-30 23:00:00          Jun  Staten Island        0    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29100  2015-06-30 23:00:00          Jun            NaN        3    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0

3) ÐŸÑ€Ð¾Ð²ÐµÑ€ÑŒÑ‚Ðµ, ÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ð²ÑÐµÐ³Ð¾ ÑÑ‚Ñ€Ð¾Ðº Ð¸ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð¾Ð² Ð¸Ð¼ÐµÐµÑ‚ÑÑ Ð² Ð´Ð°Ñ‚Ð°ÑÐµÑ‚Ðµ.

In [6]:
# ÑÑ‚Ð¾ Ð¿Ð¸Ñ‚Ð¾Ð½Ð¾Ð²ÑÐºÐ¸Ð¹ ÐºÐ¾Ñ€Ñ‚ÐµÐ¶ - ÑÑ‚Ñ€ÑƒÐºÑ‚ÑƒÑ€Ð° Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð¿Ð¾Ñ…Ð¾Ð¶Ð°Ñ Ð½Ð° Ð½ÐµÐ¸Ð·Ð¼ÐµÐ½ÑÐµÐ¼Ñ‹Ðµ ÑÐ¿Ð¸ÑÐºÐ¸
print('Ð’ Ð´Ð¾ÐºÑƒÐ¼ÐµÐ½Ñ‚Ðµ 29101 cÑ‚Ñ€Ð¾Ðº, 14 ÑÑ‚Ð¾Ð»Ð±Ñ†Ð¾Ð²:\n',taxi.shape)

Ð’ Ð´Ð¾ÐºÑƒÐ¼ÐµÐ½Ñ‚Ðµ 29101 cÑ‚Ñ€Ð¾Ðº , 14 ÑÑ‚Ð¾Ð»Ð±Ñ†Ð¾Ð²:
 (29101, 14)

4) Ð”Ð°Ð²Ð°Ð¹Ñ‚Ðµ Ð¿Ð¾ÑÐ¼Ð¾Ñ‚Ñ€Ð¸Ð¼ Ð½Ð° Ñ‚Ð¸Ð¿Ñ‹ ÐºÐ¾Ð»Ð¾Ð½Ð¾Ðº. Ð’ÑÐµ Ð»Ð¸ Ð¸Ð· Ð½Ð¸Ñ… ÑÑ‡Ð¸Ñ‚Ð°Ð»Ð¸ÑÑŒ Ð¿Ñ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ð¾? ÐÐ°Ð·Ð¾Ð²Ð¸Ñ‚Ðµ Ñ‚Ð¸Ð¿, Ð¿Ñ€ÐµÐ¾Ð±Ð»Ð°Ð´Ð°ÑŽÑ‰Ð¸Ð¹ Ð² Ð´Ð°Ñ‚Ð°ÑÐµÑ‚Ðµ.

In [7]:
print('Ð¢Ð¸Ð¿Ñ‹ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð¾Ð²:\n', taxi.dtypes) #

Ð¢Ð¸Ð¿Ñ‹ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð¾Ð²:
 pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [14]:
# value_counts- Ð´Ð»Ñ ÐºÐ°Ð¶Ð´Ð¾Ð³Ð¾ ÑƒÐ½Ð¸ÐºÐ°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð² ÑÐµÑ€Ð¸Ð¸ ÑÑ‡Ð¸Ñ‚Ð°ÐµÑ‚ ÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ñ€Ð°Ð· Ð²ÑÑ‚Ñ€ÐµÑ‡Ð°ÐµÑ‚ÑÑ
print('Ð”Ð»Ñ ÐºÐ°Ð¶Ð´Ð¾Ð³Ð¾ ÑƒÐ½Ð¸ÐºÐ°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð² ÑÐµÑ€Ð¸Ð¸ ÑÑ‡Ð¸Ñ‚Ð°ÐµÑ‚ ÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ñ‡Ð¸ÑÐ»Ð¾ Ð²ÑÑ‚Ñ€ÐµÑ‡Ð°ÐµÑ‚ÑÑ:\n', taxi.dtypes.value_counts())

Ð”Ð»Ñ ÐºÐ°Ð¶Ð´Ð¾Ð³Ð¾ ÑƒÐ½Ð¸ÐºÐ°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð² ÑÐµÑ€Ð¸Ð¸ ÑÑ‡Ð¸Ñ‚Ð°ÐµÑ‚ ÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ñ‡Ð¸ÑÐ»Ð¾ Ð²ÑÑ‚Ñ€ÐµÑ‡Ð°ÐµÑ‚ÑÑ:
 float64    9
object     4
int64      1
dtype: int64

In [16]:
print('Ð˜Ð½Ð´ÐµÐºÑÑ‹ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð¾Ð²:\n', taxi.columns) # Ð˜Ð½Ð´ÐµÐºÑÑ‹ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð¾Ð²

Ð˜Ð½Ð´ÐµÐºÑÑ‹ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð¾Ð²:
 Index(['pickup_dt', 'pickup_month', 'borough', 'pickups', 'hday', 'spd', 'vsb', 'temp', 'dewp', 'slp', 'pcp_01', 'pcp_06', 'pcp_24', 'sd'], dtype='object')

5) Ð’ Ð½Ð°Ð·Ð²Ð°Ð½Ð¸ÑÑ… ÑÑ‚Ð¾Ð»Ð±Ñ†Ð¾Ð² pcp 01, pcp 06, pcp 24 Ð²ÑÑ‚Ñ€ÐµÑ‡Ð°ÐµÑ‚ÑÑ Ð¿Ñ€Ð¾Ð±ÐµÐ». Ð­Ñ‚Ð¾ Ð½Ðµ Ð¾Ñ‡ÐµÐ½ÑŒ ÑƒÐ´Ð¾Ð±Ð½Ð¾, ÐµÑÐ»Ð¸ Ð² Ð´Ð°Ð»ÑŒÐ½ÐµÐ¹ÑˆÐµÐ¼ Ð²Ñ‹ Ð¿Ð»Ð°Ð½Ð¸Ñ€ÑƒÐµÑ‚Ðµ Ð¾Ð±Ñ€Ð°Ñ‰Ð°Ñ‚ÑŒÑÑ Ðº ÐºÐ¾Ð»Ð¾Ð½ÐºÐ°Ð¼ Ñ‡ÐµÑ€ÐµÐ· Ñ‚Ð¾Ñ‡ÐºÑƒ, Ð±ÐµÐ· Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸Ñ ÐºÐ°Ð²Ñ‹Ñ‡ÐµÐº Ð¸ ÑÐºÐ¾Ð±Ð¾Ñ‡ÐµÐº.
Ð—Ð°Ð¼ÐµÐ½Ð¸Ñ‚Ðµ Ð¿Ñ€Ð¾Ð±ÐµÐ» Ð² Ð½Ð°Ð·Ð²Ð°Ð½Ð¸ÑÑ… Ð½Ð° Ð·Ð½Ð°Ðº Ð½Ð¸Ð¶Ð½ÐµÐ³Ð¾ Ð¿Ð¾Ð´Ñ‡ÐµÑ€ÐºÐ¸Ð²Ð°Ð½Ð¸Ñ.

In [21]:
print('Ð’Ñ‹Ð²Ð¾Ð´ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸ "borough:\n', taxi.borough) #
# print('ÐÐ»ÑŒÑ‚ÐµÑ€Ð½Ð°Ñ‚Ð¸Ð²Ð½Ñ‹Ð¹ Ð²Ñ‹Ð²Ð¾Ð´ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸ "borough:\n', taxi['borough']) # Ð½ÐµÑ‚ Ð´Ð¾Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ñ - Ñ…ÑƒÐ¶Ðµ

Ð’Ñ‹Ð²Ð¾Ð´ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸ "borough:
 0                Bronx
1             Brooklyn
2                  EWR
3            Manhattan
4               Queens
             ...
29096              EWR
29097        Manhattan
29098           Queens
29099    Staten Island
29100              NaN
Name: borough, Length: 29101, dtype: object

In [23]:
#  ÐŸÐµÑ€ÐµÐ¸Ð¼ÐµÐ½ÑƒÐµÐ¼ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸
taxiS = taxi.rename(columns ={'pcp 01' : 'pcp_01',
                             'pcp 06' : 'pcp_06',
                             'pcp 24' : 'pcp_24'})
print(taxiS)

                 pickup_dt pickup_month        borough  pickups hday  spd   vsb  temp  dewp     slp  pcp_01  pcp_06  pcp_24   sd
0      2015-01-01 01:00:00          Jan          Bronx      152    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
1      2015-01-01 01:00:00          Jan       Brooklyn     1519    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
2      2015-01-01 01:00:00          Jan            EWR        0    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
3      2015-01-01 01:00:00          Jan      Manhattan     5258    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
4      2015-01-01 01:00:00          Jan         Queens      405    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
...                    ...          ...            ...      ...  ...  ...   ...   ...   ...     ...     ...     ...     ...  ...
29096  2015-06-30 23:00:00          Jun            EWR        0    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29097  2015-06-30 23:00:00          Jun      Manhattan     3828    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29098  2015-06-30 23:00:00          Jun         Queens      580    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29099  2015-06-30 23:00:00          Jun  Staten Island        0    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29100  2015-06-30 23:00:00          Jun            NaN        3    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0

[29101 rows x 14 columns]

In [33]:
#  ÐŸÐµÑ€ÐµÐ¸Ð¼ÐµÐ½ÑƒÐµÐ¼ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸ Ñ‡ÐµÑ€ÐµÐ· Ð·Ð°Ð¼ÐµÐ½Ñƒ ÑÐ¸Ð¼Ð²Ð¾Ð»Ð¾Ð²
s= 'Hello Word'
print(s)
print(s.replace(' ', '_'))

# Ð¡Ð´ÐµÐ»Ð°ÐµÐ¼ ÐµÑ‘ Ñ„ÑƒÐ½ÐºÑ†Ð¸ÐµÐ¹ underscore_rename
def underscore_rename(name):
    return name.replace(' ', '_')
print(underscore_rename('s 1'))

Hello Word
Hello_Word
s_1

In [34]:
taxi = taxi.rename(columns =underscore_rename)
print(taxi)

                 pickup_dt pickup_month        borough  pickups hday  spd   vsb  temp  dewp     slp  pcp_01  pcp_06  pcp_24   sd
0      2015-01-01 01:00:00          Jan          Bronx      152    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
1      2015-01-01 01:00:00          Jan       Brooklyn     1519    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
2      2015-01-01 01:00:00          Jan            EWR        0    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
3      2015-01-01 01:00:00          Jan      Manhattan     5258    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
4      2015-01-01 01:00:00          Jan         Queens      405    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
...                    ...          ...            ...      ...  ...  ...   ...   ...   ...     ...     ...     ...     ...  ...
29096  2015-06-30 23:00:00          Jun            EWR        0    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29097  2015-06-30 23:00:00          Jun      Manhattan     3828    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29098  2015-06-30 23:00:00          Jun         Queens      580    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29099  2015-06-30 23:00:00          Jun  Staten Island        0    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29100  2015-06-30 23:00:00          Jun            NaN        3    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0

[29101 rows x 14 columns]

6) Ð’Ð°Ñ Ð¿Ð¾Ð¿Ñ€Ð¾ÑÐ¸Ð»Ð¸ ÑƒÐ·Ð½Ð°Ñ‚ÑŒ, ÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ð·Ð°Ð¿Ð¸ÑÐµÐ¹ (ÑÑ‚Ñ€Ð¾Ðº) Ð² Ð´Ð°Ñ‚Ð°Ñ„Ñ€ÐµÐ¹Ð¼Ðµ Ð¾Ñ‚Ð½Ð¾ÑÑÑ‚ÑÑ Ðº Ñ€Ð°Ð¹Ð¾Ð½Ñƒ ÐœÐ°Ð½Ñ…ÑÑ‚Ñ‚ÐµÐ½ (Manhattan). ÐŸÐ¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ Ð¾Ñ‚Ð²ÐµÑ‚ Ð½Ð° Ð´Ð°Ð½Ð½Ñ‹Ð¹ Ð²Ð¾Ð¿Ñ€Ð¾Ñ Ð¼Ð¾Ð¶Ð½Ð¾ Ð±Ñ‹Ð»Ð¾ Ð±Ñ‹, Ð½Ð°Ð¿Ñ€Ð¸Ð¼ÐµÑ€, Ñ Ð¿Ð¾Ð¼Ð¾Ñ‰ÑŒÑŽ ÑÐ»ÐµÐ´ÑƒÑŽÑ‰ÐµÐ¹ ÐºÐ¾Ð¼Ð°Ð½Ð´Ñ‹:
taxi.query("borough == 'Manhattan'").shape[0]
Ð ÐµÑÐ»Ð¸ Ð¼Ñ‹ Ñ…Ð¾Ñ‚Ð¸Ð¼ Ð¿Ð¾ÑÐ¼Ð¾Ñ‚Ñ€ÐµÑ‚ÑŒ, ÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ñ€Ð°Ð· Ð²ÑÑ‚Ñ€ÐµÑ‡Ð°ÐµÑ‚ÑÑ ÐºÐ°Ð¶Ð´Ñ‹Ð¹ Ð¸Ð· Ñ€Ð°Ð¹Ð¾Ð½Ð¾Ð²? ÐÐµÑƒÐ¶ÐµÐ»Ð¸ Ð¿Ñ€Ð¸Ð´ÐµÑ‚ÑÑ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÑŒ Ð¿Ð¾Ð´Ð¾Ð±Ð½ÑƒÑŽ ÐºÐ¾Ð½ÑÑ‚Ñ€ÑƒÐºÑ†Ð¸ÑŽ Ð´Ð»Ñ ÐºÐ°Ð¶Ð´Ð¾Ð³Ð¾ ÑƒÑ€Ð¾Ð²Ð½Ñ Ð¿ÐµÑ€ÐµÐ¼ÐµÐ½Ð½Ð¾Ð¹? Ð—Ð´ÐµÑÑŒ Ð½Ð° Ð¿Ð¾Ð¼Ð¾Ñ‰ÑŒ Ð¿Ñ€Ð¸Ñ…Ð¾Ð´Ð¸Ñ‚ Ð¼ÐµÑ‚Ð¾Ð´ value_counts(), Ð¿Ð¾Ð´Ñ€Ð¾Ð±Ð½ÐµÐµ Ð¾ ÐºÐ¾Ñ‚Ð¾Ñ€Ð¾Ð¼ Ð¼Ð¾Ð¶Ð½Ð¾ Ð¿Ð¾Ñ‡Ð¸Ñ‚Ð°Ñ‚ÑŒ Ð² ÐºÐ¾Ð½ÑÐ¿ÐµÐºÑ‚Ðµ!
Ð¡ÐºÐ¾Ð»ÑŒÐºÐ¾ Ñ€Ð°Ð· Ð² Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð²ÑÑ‚Ñ€ÐµÑ‡Ð°ÐµÑ‚ÑÑ Ñ€Ð°Ð¹Ð¾Ð½ Ð‘Ñ€ÑƒÐºÐ»Ð¸Ð½ (Brooklyn)?

In [36]:
# Ð¿Ð¾Ð¸ÑÐº Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð²Ð°Ñ€Ð¸Ð°Ð½Ñ‚ â„–1
taxi1 = taxi.query('borough == "Brooklyn"') \
      .shape[0]
print('Ð‘Ñ€ÑƒÐºÐ»Ð¸Ð½ (Brooklyn) Ð² Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð²ÑÑ‚Ñ€ÐµÑ‡Ð°ÐµÑ‚ÑÑ \n', taxi1)

Ð‘Ñ€ÑƒÐºÐ»Ð¸Ð½ (Brooklyn) Ð² Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð²ÑÑ‚Ñ€ÐµÑ‡Ð°ÐµÑ‚ÑÑ
 4343

In [39]:
# Ð¿Ð¾Ð¸ÑÐº Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð²Ð°Ñ€Ð¸Ð°Ð½Ñ‚ â„–2  - Ð³Ñ€ÑƒÐ¿Ð¸Ñ€Ð¾Ð²ÐºÐ° (Ð½Ðµ Ð¾Ñ‡ÐµÐ½ÑŒ Ñ…Ð¾Ñ€Ð¾Ñˆ)
taxi2 = taxi.groupby('borough') \
      .agg({'hday': 'count'})
print('Ð³Ñ€ÑƒÐ¿Ð¸Ñ€Ð¾Ð²ÐºÐ° Ð¿Ð¾ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸ÑÐ¼;\n', taxi2)

Ð³Ñ€ÑƒÐ¿Ð¸Ñ€Ð¾Ð²ÐºÐ° Ð¿Ð¾ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸ÑÐ¼;
                hday
borough
Bronx          4343
Brooklyn       4343
EWR            4343
Manhattan      4343
Queens         4343
Staten Island  4343

In [40]:
# Ð¿Ð¾Ð¸ÑÐº Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ â„–3 - Ð¾Ð¿Ñ‚Ð¸Ð¼Ð°Ð»ÑŒÐ½Ñ‹Ð¹ Ð²Ð°Ñ€Ð¸Ð°Ð½Ñ‚
taxi3 = taxi.borough.value_counts()
print(taxi3)

Bronx            4343
Brooklyn         4343
EWR              4343
Manhattan        4343
Queens           4343
Staten Island    4343
Name: borough, dtype: int64

7) Ð¡Ð»ÐµÐ´ÑƒÑŽÑ‰Ð°Ñ Ð·Ð°Ð´Ð°Ñ‡Ð°: Ð²Ñ‹ÑÑÐ½Ð¸Ñ‚ÑŒ, Ð¸Ð· ÐºÐ°ÐºÐ¾Ð³Ð¾ Ñ€Ð°Ð¹Ð¾Ð½Ð° Ð±Ñ‹Ð»Ð¾ ÑÐ¾Ð²ÐµÑ€ÑˆÐµÐ½Ð¾ Ð½Ð°Ð¸Ð±Ð¾Ð»ÑŒÑˆÐµÐµ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº Ð·Ð° Ð²ÐµÑÑŒ Ð¿ÐµÑ€Ð¸Ð¾Ð´.
Ð”Ð»Ñ Ð½Ð°Ñ‡Ð°Ð»Ð°, Ð¿Ð¾ÑÑ‡Ð¸Ñ‚Ð°Ð¹Ñ‚Ðµ Ð¾Ð±Ñ‰ÐµÐµ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº (pickups), Ð±ÐµÐ· Ð³Ñ€ÑƒÐ¿Ð¿Ð¸Ñ€Ð¾Ð²ÐºÐ¸.

In [47]:
# ÐšÐ¾Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº (ÑÑƒÐ¼Ð¼Ð°)
Summa = taxi.pickups.sum()
print('ÐšÐ¾Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº (ÑÑƒÐ¼Ð¼Ð°):\n', Summa)

ÐšÐ¾Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº (ÑÑƒÐ¼Ð¼Ð°):
 14265773

8) Ð Ñ‚ÐµÐ¿ÐµÑ€ÑŒ ÑÐ³Ñ€ÑƒÐ¿Ð¿Ð¸Ñ€ÑƒÐ¹Ñ‚Ðµ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð¿Ð¾ Ñ€Ð°Ð¹Ð¾Ð½Ñƒ (borough) Ð¸ ÑƒÐºÐ°Ð¶Ð¸Ñ‚Ðµ, Ð¸Ð· ÐºÐ°ÐºÐ¾Ð³Ð¾ Ð¿ÑƒÐ½ÐºÑ‚Ð° Ð±Ñ‹Ð»Ð¾ ÑÐ¾Ð²ÐµÑ€ÑˆÐµÐ½Ð¾ Ð±Ð¾Ð»ÑŒÑˆÐµ Ð²ÑÐµÐ³Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº.

In [49]:
# ÐšÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº Ð¿Ð¾ Ñ€Ð°Ð¹Ð¾Ð½Ð°Ð¼
SummaRayon = taxi.groupby('borough')\
            .agg({'pickups': 'sum'})
print('ÐšÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº Ð¿Ð¾ Ñ€Ð°Ð¹Ð¾Ð½Ð°Ð¼:\n', SummaRayon)

# Ð˜Ð· ÐºÐ°ÐºÐ¾Ð³Ð¾ Ñ€Ð°Ð¹Ð¾Ð½Ð° Ð±Ð¾Ð»ÑŒÑˆÐµ Ð²ÑÐµÐ³Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº
MaxRayon = taxi.groupby('borough')\
            .agg({'pickups': 'sum'})\
            .idxmax()
print('\nÐ‘Ð¾Ð»ÑŒÑˆÐµ Ð²ÑÐµÐ³Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº Ð¸Ð· Ñ€Ð°Ð¹Ð¾Ð½Ð°:\n', MaxRayon)

ÐšÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº Ð¿Ð¾ Ñ€Ð°Ð¹Ð¾Ð½Ð°Ð¼:
                 pickups
borough
Bronx            220047
Brooklyn        2321035
EWR                 105
Manhattan      10367841
Queens          1343528
Staten Island      6957

Ð‘Ð¾Ð»ÑŒÑˆÐµ Ð²ÑÐµÐ³Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº Ð¸Ð· Ñ€Ð°Ð¹Ð¾Ð½Ð°:
 pickups    Manhattan
dtype: object

9) â­ï¸Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ ÑÐ¾ Ð·Ð²Ñ‘Ð·Ð´Ð¾Ñ‡ÐºÐ¾Ð¹!â­ï¸
Ð•Ñ‰Ðµ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ð¿Ð¾Ð»ÐµÐ·Ð½Ñ‹Ñ… Ð¼ÐµÑ‚Ð¾Ð´Ð¾Ð² Ð² pandas! Ð’Ð¾Ð·Ð¼Ð¾Ð¶Ð½Ð¾, Ð² Ð¿Ñ€ÐµÐ´Ñ‹Ð´ÑƒÑ‰ÐµÐ¼ ÑÑ‚ÐµÐ¿Ðµ Ð²Ñ‹ Ð¿Ñ€Ð¾ÑÑ‚Ð¾ Ð¿Ð¾ÑÐ¼Ð¾Ñ‚Ñ€ÐµÐ»Ð¸ Ð½Ð° Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð¸Ð»Ð¸ Ð¾Ñ‚ÑÐ¾Ñ€Ñ‚Ð¸Ñ€Ð¾Ð²Ð°Ð»Ð¸ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ. Ð£ÑÐºÐ¾Ñ€Ð¸Ñ‚ÑŒ Ð´Ð°Ð½Ð½Ñ‹Ð¹ Ð¿Ñ€Ð¾Ñ†ÐµÑÑ Ð² Ð´Ð°Ð»ÑŒÐ½ÐµÐ¹ÑˆÐµÐ¼ Ð¿Ð¾Ð¼Ð¾Ð³ÑƒÑ‚ Ð¼ÐµÑ‚Ð¾Ð´Ñ‹ idxmin() Ð¸ idxmax(), ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð²Ð¾Ð·Ð²Ñ€Ð°Ñ‰Ð°ÑŽÑ‚ Ð¸Ð½Ð´ÐµÐºÑ Ð¼Ð¸Ð½Ð¸Ð¼Ð°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ð¸Ð»Ð¸ Ð¼Ð°ÐºÑÐ¸Ð¼Ð°Ð»ÑŒÐ½Ð¾Ð³Ð¾ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ.
Ð¡Ð¾Ñ…Ñ€Ð°Ð½Ð¸Ñ‚Ðµ Ð½Ð°Ð·Ð²Ð°Ð½Ð¸Ðµ Ñ€Ð°Ð¹Ð¾Ð½Ð° Ñ Ð½Ð°Ð¸Ð¼ÐµÐ½ÑŒÑˆÐ¸Ð¼ Ñ‡Ð¸ÑÐ»Ð¾Ð¼ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº Ð² Ð¿ÐµÑ€ÐµÐ¼ÐµÐ½Ð½ÑƒÑŽ min_pickups, Ð¿Ñ€Ð¸Ð¼ÐµÐ½Ð¸Ð² Ð¿Ð¾Ð´Ñ…Ð¾Ð´ÑÑ‰Ð¸Ð¹ Ð¼ÐµÑ‚Ð¾Ð´.

In [52]:
# Ð˜Ð· ÐºÐ°ÐºÐ¾Ð³Ð¾ Ñ€Ð°Ð¹Ð¾Ð½Ð° Ð¼ÐµÐ½ÑŒÑˆÐµ Ð²ÑÐµÐ³Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº
MinRayon = taxi.groupby('borough')\
            .agg({'pickups': 'sum'})\
            .idxmin()
print('ÐœÐµÐ½ÑŒÑˆÐµ Ð²ÑÐµÐ³Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº Ð¸Ð· Ñ€Ð°Ð¹Ð¾Ð½Ð°:\n', MinRayon)

ÐœÐµÐ½ÑŒÑˆÐµ Ð²ÑÐµÐ³Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº Ð¸Ð· Ñ€Ð°Ð¹Ð¾Ð½Ð°:
 pickups    EWR
dtype: object

10) ÐŸÑ€Ð¾Ð´Ð¾Ð»Ð¶Ð¸Ð¼ Ð¸Ð·ÑƒÑ‡ÐµÐ½Ð¸Ðµ Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð¸ Ð¿Ð¾ÑÐ¼Ð¾Ñ‚Ñ€Ð¸Ð¼ Ð½Ð° Ñ‡Ð¸ÑÐ»Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº Ð² Ð²Ñ‹Ñ…Ð¾Ð´Ð½Ñ‹Ðµ Ð´Ð½Ð¸. Ð¡Ð³Ñ€ÑƒÐ¿Ð¿Ð¸Ñ€ÑƒÐ¹Ñ‚Ðµ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð¿Ð¾ Ð´Ð²ÑƒÐ¼ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ°Ð¼: Ñ€Ð°Ð¹Ð¾Ð½Ñƒ Ð³Ð¾Ñ€Ð¾Ð´Ð° Ð¸ ÑÐ²Ð»ÑÐµÑ‚ÑÑ Ð»Ð¸ Ð´ÐµÐ½ÑŒ Ð²Ñ‹Ñ…Ð¾Ð´Ð½Ñ‹Ð¼ (ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸ borough Ð¸ hday). Ð¡Ñ€Ð°Ð²Ð½Ð¸Ñ‚Ðµ ÑÑ€ÐµÐ´Ð½ÐµÐµ Ñ‡Ð¸ÑÐ»Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº, Ð¸ Ð½Ð°Ð·Ð¾Ð²Ð¸Ñ‚Ðµ Ñ€Ð°Ð¹Ð¾Ð½Ñ‹, Ð¸Ð· ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ñ… Ð¿Ð¾ Ð¿Ñ€Ð°Ð·Ð´Ð½Ð¸ÐºÐ°Ð¼ Ð² ÑÑ€ÐµÐ´Ð½ÐµÐ¼ Ð¿Ð¾ÑÑ‚ÑƒÐ¿Ð°ÐµÑ‚ Ð±Ð¾Ð»ÑŒÑˆÐµ Ð·Ð°ÐºÐ°Ð·Ð¾Ð², Ñ‡ÐµÐ¼ Ð² Ð¾Ð±Ñ‹Ñ‡Ð½Ñ‹Ðµ Ð´Ð½Ð¸.

In [53]:
# Ð¯Ð²Ð»ÑÐµÑ‚ÑÑ Ð»Ð¸ Ð´ÐµÐ½ÑŒ Ð²Ñ‹Ñ…Ð¾Ð´Ð½Ñ‹Ð¼ mean - ÑÑ€ÐµÐ´ÐµÐµ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº
HolDay = taxi.groupby(['borough', 'hday'])\
            .agg({'pickups': 'mean'})
print('Ð¯Ð²Ð»ÑÐµÑ‚ÑÑ Ð»Ð¸ Ð´ÐµÐ½ÑŒ Ð²Ñ‹Ñ…Ð¾Ð´Ð½Ñ‹Ð¼ mean - ÑÑ€ÐµÐ´ÐµÐµ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº:\n',HolDay)

Ð¯Ð²Ð»ÑÐµÑ‚ÑÑ Ð»Ð¸ Ð´ÐµÐ½ÑŒ Ð²Ñ‹Ñ…Ð¾Ð´Ð½Ñ‹Ð¼ mean - ÑÑ€ÐµÐ´ÐµÐµ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº:
                         pickups
borough       hday
Bronx         N       50.771073
              Y       48.065868
Brooklyn      N      534.727969
              Y      527.011976
EWR           N        0.023467
              Y        0.041916
Manhattan     N     2401.302921
              Y     2035.928144
Queens        N      308.899904
              Y      320.730539
Staten Island N        1.606082
              Y        1.497006

11) Ð”Ð»Ñ ÐºÐ°Ð¶Ð´Ð¾Ð³Ð¾ Ñ€Ð°Ð¹Ð¾Ð½Ð° Ð¿Ð¾ÑÑ‡Ð¸Ñ‚Ð°Ð¹Ñ‚Ðµ Ñ‡Ð¸ÑÐ»Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº Ð¿Ð¾ Ð¼ÐµÑÑÑ†Ð°Ð¼. ÐžÑ‚ÑÐ¾Ñ€Ñ‚Ð¸Ñ€ÑƒÐ¹Ñ‚Ðµ Ð¿Ð¾Ð»ÑƒÑ‡ÐµÐ½Ð½Ñ‹Ðµ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð¿Ð¾ ÑƒÐ±Ñ‹Ð²Ð°Ð½Ð¸ÑŽ Ð¸ ÑÐ¾Ñ…Ñ€Ð°Ð½Ð¸Ñ‚Ðµ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð¸Ñ€ÑƒÑŽÑ‰Ð¸Ð¹ Ð´Ð°Ñ‚Ð°Ñ„Ñ€ÐµÐ¹Ð¼ Ð² pickups_by_mon_bor. ÐžÐ±Ñ€Ð°Ñ‚Ð¸Ñ‚Ðµ Ð²Ð½Ð¸Ð¼Ð°Ð½Ð¸Ðµ, Ñ‡Ñ‚Ð¾ Ð¸Ñ‚Ð¾Ð³Ð¾Ð²Ñ‹Ð¹ Ð´Ð°Ñ‚Ð°ÑÐµÑ‚ Ð´Ð¾Ð»Ð¶ÐµÐ½ ÑÐ¾ÑÑ‚Ð¾ÑÑ‚ÑŒ Ð¸Ð· 3-Ñ… ÐºÐ¾Ð»Ð¾Ð½Ð¾Ðº â€“ pickup_month, borough, pickups.

In [54]:
# as_index=False - Ð§Ñ‚Ð¾Ð±Ñ‹ Ð½Ð°Ð·Ð²Ð°Ð½Ð¸Ñ ÐºÐ¾Ð»Ð¾Ð½Ð¾Ðº Ð½Ðµ ÑƒÐ»ÐµÑ‚Ð°Ð»Ð¸ Ð² Ð¸Ð½Ð´ÐµÐºÑ
# .sort_values('pickups', ascending=False - ÐÐ¸ÑÑ…Ð¾Ð´ÑÑ‰Ð°Ñ Ð³Ñ€ÑƒÐ¿Ð¿Ð¸Ñ€Ð¾Ð²ÐºÐ°

MonthRayon = taxi.groupby(['borough', 'pickup_month'], as_index=False)\
            .agg({'pickups': 'sum'})\
            .sort_values('pickups', ascending=False) # Ð¡Ð¾Ñ€Ñ‚Ð¸Ñ€Ð¾Ð²ÐºÐ° Ð¿Ð¾ ÐºÐ¾Ð»Ð¾Ð½ÐºÐµ pickups
print('Ð”Ð»Ñ ÐºÐ°Ð¶Ð´Ð¾Ð³Ð¾ Ñ€Ð°Ð¹Ð¾Ð½Ð° Ð¿Ð¾ÑÑ‡Ð¸Ñ‚Ð°Ð¹Ñ‚Ðµ Ð¸ Ð¾Ñ‚ÑÐ¾Ñ€Ñ‚Ð¸Ñ€ÑƒÐµÐ¼ Ñ‡Ð¸ÑÐ»Ð¾ Ð¿Ð¾ÐµÐ·Ð´Ð¾Ðº Ð¿Ð¾ Ð¼ÐµÑÑÑ†Ð°Ð¼' ,MonthRayon)

          borough pickup_month  pickups
21      Manhattan          Jun  1995388
23      Manhattan          May  1888800
19      Manhattan          Feb  1718571
22      Manhattan          Mar  1661261
18      Manhattan          Apr  1648278
20      Manhattan          Jan  1455543
9        Brooklyn          Jun   482466
11       Brooklyn          May   476087
6        Brooklyn          Apr   378095
10       Brooklyn          Mar   346726
7        Brooklyn          Feb   328650
8        Brooklyn          Jan   309011
27         Queens          Jun   286311
29         Queens          May   275893
28         Queens          Mar   219561
24         Queens          Apr   216857
25         Queens          Feb   185695
26         Queens          Jan   159211
5           Bronx          May    53037
3           Bronx          Jun    49006
0           Bronx          Apr    34617
4           Bronx          Mar    32232
1           Bronx          Feb    28694
2           Bronx          Jan    22461
33  Staten Island          Jun     1673
35  Staten Island          May     1517
30  Staten Island          Apr     1068
34  Staten Island          Mar      975
31  Staten Island          Feb      903
32  Staten Island          Jan      821
15            EWR          Jun       29
17            EWR          May       27
16            EWR          Mar       14
13            EWR          Feb       14
14            EWR          Jan       11
12            EWR          Apr       10

12) ðŸ’€ Ð¡Ð»Ð¾Ð¶Ð½Ð¾Ðµ Ð·Ð°Ð´Ð°Ð½Ð¸Ðµ! ðŸ’€
Ð¢ÐµÐ¿ÐµÑ€ÑŒ Ð·Ð°Ð´Ð°Ñ‡Ð° Ð¿Ð¾ÑÐ»Ð¾Ð¶Ð½ÐµÐµ! ÐŸÐ¾Ð¿Ñ€Ð°ÐºÑ‚Ð¸ÐºÑƒÐµÐ¼ÑÑ Ð² Ð½Ð°Ð¿Ð¸ÑÐ°Ð½Ð¸Ð¸ ÑÐ¾Ð±ÑÑ‚Ð²ÐµÐ½Ð½Ñ‹Ñ… Ñ„ÑƒÐ½ÐºÑ†Ð¸Ð¹ Ð¸ Ð¸Ñ… Ð¿Ñ€Ð¸Ð¼ÐµÐ½ÐµÐ½Ð¸Ð¸ Ðº Ð´Ð°Ñ‚Ð°Ñ„Ñ€ÐµÐ¹Ð¼Ñƒ. ÐŸÐ¾ÑÐºÐ¾Ð»ÑŒÐºÑƒ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð¾ Ð¿Ð¾ÐµÐ·Ð´ÐºÐ°Ñ… Ð² ÐÑŒÑŽ-Ð™Ð¾Ñ€ÐºÐµ, Ñ‚ÐµÐ¼Ð¿ÐµÑ€Ð°Ñ‚ÑƒÑ€Ð° Ð¿Ñ€ÐµÐ´ÑÑ‚Ð°Ð²Ð»ÐµÐ½Ð° Ð² Ð³Ñ€Ð°Ð´ÑƒÑÐ°Ñ… Ð¤Ð°Ñ€ÐµÐ½Ð³ÐµÐ¹Ñ‚Ð°.
ÐÐ°Ð¿Ð¸ÑˆÐ¸Ñ‚Ðµ Ñ„ÑƒÐ½ÐºÑ†Ð¸ÑŽ temp_to_celcius, ÐºÐ¾Ñ‚Ð¾Ñ€Ð°Ñ Ð¿Ð¾Ð»ÑƒÑ‡Ð°ÐµÑ‚ Ð½Ð° Ð²Ñ…Ð¾Ð´ ÐºÐ¾Ð»Ð¾Ð½ÐºÑƒ Ñ Ñ‚ÐµÐ¼Ð¿ÐµÑ€Ð°Ñ‚ÑƒÑ€Ð¾Ð¹ Ð² Â°F, Ð¸ Ð²Ð¾Ð·Ð²Ñ€Ð°Ñ‰Ð°ÐµÑ‚ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ, Ð¿ÐµÑ€ÐµÐ²ÐµÐ´ÐµÐ½Ð½Ñ‹Ðµ Ð² Ð³Ñ€Ð°Ð´ÑƒÑÑ‹ Ð¦ÐµÐ»ÑŒÑÐ¸Ñ.
Ð¤Ð¾Ñ€Ð¼ÑƒÐ»Ð°: Celsius = ((Fahrenheit-32) *5.0)/(9.0)

 â€‹
ÐŸÑ€Ð¸Ð¼ÐµÑ€ Ñ€Ð°Ð±Ð¾Ñ‚Ñ‹:
> > taxi['temp'][:5]
0    30.0
1    30.0
3    30.0
4    30.0
5    30.0

> taxi['temp_C'] = temp_to_celcius(taxi['temp'])
> taxi['temp_C'][:5]
0   -1.111111
1   -1.111111
3   -1.111111
4   -1.111111
5   -1.111111

In [55]:
def tempToCelsium(temp):
    return (temp - 32) * 5 / 9
print(tempToCelsium(taxi.temp))

0        -1.111111
1        -1.111111
2        -1.111111
3        -1.111111
4        -1.111111
           ...
29096    23.888889
29097    23.888889
29098    23.888889
29099    23.888889
29100    23.888889
Name: temp, Length: 29101, dtype: float64