In [2]:
import pandas as pd

In [3]:
# Вывод данных из csv во всю ширину окна
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

1) Начнем с простого вопроса: что произойдет в результате выполнения следующей команды?
import pandas as pnds

2) Теперь поработаем с данными о поездках на такси в Нью-Йорке, где также имеется информация о погодных условиях и выходных днях.

* pickup_dt – период с точностью до часа
* pickup_month – месяц
* borough – район Нью-Йорка, из которого был сделан заказ (5 районов + аэропорт)
* pickups – число поездок за период (час)
* hday – является ли день праздничным/выходным; Y - да,  N - нет
* spd – скорость ветра в милях в час
* vsb – видимость
* temp – температура в градусах Фаренгейта
* dewp – точка росы по Фаренгейту
* slp – давление
* pcp_01 – количество осадков за час
* pcp_06 – количество осадков за 6 часов
* pcp_24 – количество осадков за 24 часа
* sd – глубина снега в дюймах

Импортируйте библиотеку pandas, а затем загрузите датасет 2_taxi_nyc (находится в папке). Результат сохраните в переменную taxi.
Для загрузки датасэта в pandas по ссылке просто выполните pd.read_csv('path')

In [4]:
# taxi = pd.read_csv("https://stepik.org/media/attachments/lesson/360340/2_taxi_nyc.csv")
taxi = pd.read_csv("data/2_taxi_nyc.csv")

# это питоновский кортеж - структура данных похожая на не изменяемые списки
print('Первые 5 строк:\n', taxi.head())

Первые 5 строк:
              pickup_dt pickup_month    borough  pickups hday  spd   vsb  temp  dewp     slp  pcp 01  pcp 06  pcp 24   sd
0  2015-01-01 01:00:00          Jan      Bronx      152    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
1  2015-01-01 01:00:00          Jan   Brooklyn     1519    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
2  2015-01-01 01:00:00          Jan        EWR        0    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
3  2015-01-01 01:00:00          Jan  Manhattan     5258    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
4  2015-01-01 01:00:00          Jan     Queens      405    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0

In [5]:
print('Последние 5 строк:\n', taxi.tail())

Последние 5 строк:
                  pickup_dt pickup_month        borough  pickups hday  spd   vsb  temp  dewp     slp  pcp 01  pcp 06  pcp 24   sd
29096  2015-06-30 23:00:00          Jun            EWR        0    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29097  2015-06-30 23:00:00          Jun      Manhattan     3828    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29098  2015-06-30 23:00:00          Jun         Queens      580    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29099  2015-06-30 23:00:00          Jun  Staten Island        0    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29100  2015-06-30 23:00:00          Jun            NaN        3    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0

3) Проверьте, сколько всего строк и столбцов имеется в датасете.

In [6]:
# это питоновский кортеж - структура данных похожая на неизменяемые списки
print('В документе 29101 cтрок, 14 столбцов:\n',taxi.shape)

В документе 29101 cтрок , 14 столбцов:
 (29101, 14)

4) Давайте посмотрим на типы колонок. Все ли из них считались правильно? Назовите тип, преобладающий в датасете.

In [7]:
print('Типы столбцов:\n', taxi.dtypes) #

Типы столбцов:
 pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp 01          float64
pcp 06          float64
pcp 24          float64
sd              float64
dtype: object

In [14]:
# value_counts- для каждого уникального значения в серии считает сколько раз встречается
print('Для каждого уникального значения в серии считает сколько число встречается:\n', taxi.dtypes.value_counts())

Для каждого уникального значения в серии считает сколько число встречается:
 float64    9
object     4
int64      1
dtype: int64

In [16]:
print('Индексы столбцов:\n', taxi.columns) # Индексы столбцов

Индексы столбцов:
 Index(['pickup_dt', 'pickup_month', 'borough', 'pickups', 'hday', 'spd', 'vsb', 'temp', 'dewp', 'slp', 'pcp_01', 'pcp_06', 'pcp_24', 'sd'], dtype='object')

5) В названиях столбцов pcp 01, pcp 06, pcp 24 встречается пробел. Это не очень удобно, если в дальнейшем вы планируете обращаться к колонкам через точку, без использования кавычек и скобочек.
Замените пробел в названиях на знак нижнего подчеркивания.

In [21]:
print('Вывод колонки "borough:\n', taxi.borough) #
# print('Альтернативный вывод колонки "borough:\n', taxi['borough']) # нет дополнения - хуже

Вывод колонки "borough:
 0                Bronx
1             Brooklyn
2                  EWR
3            Manhattan
4               Queens
             ...
29096              EWR
29097        Manhattan
29098           Queens
29099    Staten Island
29100              NaN
Name: borough, Length: 29101, dtype: object

In [23]:
#  Переименуем колонки
taxiS = taxi.rename(columns ={'pcp 01' : 'pcp_01',
                             'pcp 06' : 'pcp_06',
                             'pcp 24' : 'pcp_24'})
print(taxiS)

                 pickup_dt pickup_month        borough  pickups hday  spd   vsb  temp  dewp     slp  pcp_01  pcp_06  pcp_24   sd
0      2015-01-01 01:00:00          Jan          Bronx      152    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
1      2015-01-01 01:00:00          Jan       Brooklyn     1519    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
2      2015-01-01 01:00:00          Jan            EWR        0    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
3      2015-01-01 01:00:00          Jan      Manhattan     5258    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
4      2015-01-01 01:00:00          Jan         Queens      405    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
...                    ...          ...            ...      ...  ...  ...   ...   ...   ...     ...     ...     ...     ...  ...
29096  2015-06-30 23:00:00          Jun            EWR        0    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29097  2015-06-30 23:00:00          Jun      Manhattan     3828    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29098  2015-06-30 23:00:00          Jun         Queens      580    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29099  2015-06-30 23:00:00          Jun  Staten Island        0    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29100  2015-06-30 23:00:00          Jun            NaN        3    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0

[29101 rows x 14 columns]

In [33]:
#  Переименуем колонки через замену символов
s= 'Hello Word'
print(s)
print(s.replace(' ', '_'))

# Сделаем её функцией underscore_rename
def underscore_rename(name):
    return name.replace(' ', '_')
print(underscore_rename('s 1'))

Hello Word
Hello_Word
s_1

In [34]:
taxi = taxi.rename(columns =underscore_rename)
print(taxi)

                 pickup_dt pickup_month        borough  pickups hday  spd   vsb  temp  dewp     slp  pcp_01  pcp_06  pcp_24   sd
0      2015-01-01 01:00:00          Jan          Bronx      152    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
1      2015-01-01 01:00:00          Jan       Brooklyn     1519    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
2      2015-01-01 01:00:00          Jan            EWR        0    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
3      2015-01-01 01:00:00          Jan      Manhattan     5258    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
4      2015-01-01 01:00:00          Jan         Queens      405    Y  5.0  10.0  30.0   7.0  1023.5     0.0     0.0     0.0  0.0
...                    ...          ...            ...      ...  ...  ...   ...   ...   ...     ...     ...     ...     ...  ...
29096  2015-06-30 23:00:00          Jun            EWR        0    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29097  2015-06-30 23:00:00          Jun      Manhattan     3828    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29098  2015-06-30 23:00:00          Jun         Queens      580    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29099  2015-06-30 23:00:00          Jun  Staten Island        0    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0
29100  2015-06-30 23:00:00          Jun            NaN        3    N  7.0  10.0  75.0  65.0  1011.8     0.0     0.0     0.0  0.0

[29101 rows x 14 columns]

6) Вас попросили узнать, сколько записей (строк) в датафрейме относятся к району Манхэттен (Manhattan). Получить ответ на данный вопрос можно было бы, например, с помощью следующей команды:
taxi.query("borough == 'Manhattan'").shape[0]
А если мы хотим посмотреть, сколько раз встречается каждый из районов? Неужели придется использовать подобную конструкцию для каждого уровня переменной? Здесь на помощь приходит метод value_counts(), подробнее о котором можно почитать в конспекте!
Сколько раз в данных встречается район Бруклин (Brooklyn)?

In [36]:
# поиск значения вариант №1
taxi1 = taxi.query('borough == "Brooklyn"') \
      .shape[0]
print('Бруклин (Brooklyn) в данных встречается \n', taxi1)

Бруклин (Brooklyn) в данных встречается
 4343

In [39]:
# поиск значения вариант №2  - групировка (не очень хорош)
taxi2 = taxi.groupby('borough') \
      .agg({'hday': 'count'})
print('групировка по значениям;\n', taxi2)

групировка по значениям;
                hday
borough
Bronx          4343
Brooklyn       4343
EWR            4343
Manhattan      4343
Queens         4343
Staten Island  4343

In [40]:
# поиск значения №3 - оптимальный вариант
taxi3 = taxi.borough.value_counts()
print(taxi3)

Bronx            4343
Brooklyn         4343
EWR              4343
Manhattan        4343
Queens           4343
Staten Island    4343
Name: borough, dtype: int64

7) Следующая задача: выяснить, из какого района было совершено наибольшее количество поездок за весь период.
Для начала, посчитайте общее количество поездок (pickups), без группировки.

In [47]:
# Коичество поездок (сумма)
Summa = taxi.pickups.sum()
print('Коичество поездок (сумма):\n', Summa)

Коичество поездок (сумма):
 14265773

8) А теперь сгруппируйте данные по району (borough) и укажите, из какого пункта было совершено больше всего поездок.

In [49]:
# Количество поездок по районам
SummaRayon = taxi.groupby('borough')\
            .agg({'pickups': 'sum'})
print('Количество поездок по районам:\n', SummaRayon)

# Из какого района больше всего поездок
MaxRayon = taxi.groupby('borough')\
            .agg({'pickups': 'sum'})\
            .idxmax()
print('\nБольше всего поездок из района:\n', MaxRayon)

Количество поездок по районам:
                 pickups
borough
Bronx            220047
Brooklyn        2321035
EWR                 105
Manhattan      10367841
Queens          1343528
Staten Island      6957

Больше всего поездок из района:
 pickups    Manhattan
dtype: object

9) ⭐️Задание со звёздочкой!⭐️
Еще несколько полезных методов в pandas! Возможно, в предыдущем степе вы просто посмотрели на данные или отсортировали значения. Ускорить данный процесс в дальнейшем помогут методы idxmin() и idxmax(), которые возвращают индекс минимального или максимального значения.
Сохраните название района с наименьшим числом поездок в переменную min_pickups, применив подходящий метод.

In [52]:
# Из какого района меньше всего поездок
MinRayon = taxi.groupby('borough')\
            .agg({'pickups': 'sum'})\
            .idxmin()
print('Меньше всего поездок из района:\n', MinRayon)

Меньше всего поездок из района:
 pickups    EWR
dtype: object

10) Продолжим изучение данных и посмотрим на число поездок в выходные дни. Сгруппируйте данные по двум признакам: району города и является ли день выходным (колонки borough и hday). Сравните среднее число поездок, и назовите районы, из которых по праздникам в среднем поступает больше заказов, чем в обычные дни.

In [53]:
# Является ли день выходным mean - средее количество поездок
HolDay = taxi.groupby(['borough', 'hday'])\
            .agg({'pickups': 'mean'})
print('Является ли день выходным mean - средее количество поездок:\n',HolDay)

Является ли день выходным mean - средее количество поездок:
                         pickups
borough       hday
Bronx         N       50.771073
              Y       48.065868
Brooklyn      N      534.727969
              Y      527.011976
EWR           N        0.023467
              Y        0.041916
Manhattan     N     2401.302921
              Y     2035.928144
Queens        N      308.899904
              Y      320.730539
Staten Island N        1.606082
              Y        1.497006

11) Для каждого района посчитайте число поездок по месяцам. Отсортируйте полученные значения по убыванию и сохраните результирующий датафрейм в pickups_by_mon_bor. Обратите внимание, что итоговый датасет должен состоять из 3-х колонок – pickup_month, borough, pickups.

In [54]:
# as_index=False - Чтобы названия колонок не улетали в индекс
# .sort_values('pickups', ascending=False - Нисходящая группировка

MonthRayon = taxi.groupby(['borough', 'pickup_month'], as_index=False)\
            .agg({'pickups': 'sum'})\
            .sort_values('pickups', ascending=False) # Сортировка по колонке pickups
print('Для каждого района посчитайте и отсортируем число поездок по месяцам' ,MonthRayon)

          borough pickup_month  pickups
21      Manhattan          Jun  1995388
23      Manhattan          May  1888800
19      Manhattan          Feb  1718571
22      Manhattan          Mar  1661261
18      Manhattan          Apr  1648278
20      Manhattan          Jan  1455543
9        Brooklyn          Jun   482466
11       Brooklyn          May   476087
6        Brooklyn          Apr   378095
10       Brooklyn          Mar   346726
7        Brooklyn          Feb   328650
8        Brooklyn          Jan   309011
27         Queens          Jun   286311
29         Queens          May   275893
28         Queens          Mar   219561
24         Queens          Apr   216857
25         Queens          Feb   185695
26         Queens          Jan   159211
5           Bronx          May    53037
3           Bronx          Jun    49006
0           Bronx          Apr    34617
4           Bronx          Mar    32232
1           Bronx          Feb    28694
2           Bronx          Jan    22461
33  Staten Island          Jun     1673
35  Staten Island          May     1517
30  Staten Island          Apr     1068
34  Staten Island          Mar      975
31  Staten Island          Feb      903
32  Staten Island          Jan      821
15            EWR          Jun       29
17            EWR          May       27
16            EWR          Mar       14
13            EWR          Feb       14
14            EWR          Jan       11
12            EWR          Apr       10

12) 💀 Сложное задание! 💀
Теперь задача посложнее! Попрактикуемся в написании собственных функций и их применении к датафрейму. Поскольку данные о поездках в Нью-Йорке, температура представлена в градусах Фаренгейта.
Напишите функцию temp_to_celcius, которая получает на вход колонку с температурой в °F, и возвращает значения, переведенные в градусы Цельсия.
Формула: Celsius = ((Fahrenheit-32) *5.0)/(9.0)

 ​
Пример работы:
> > taxi['temp'][:5]
0    30.0
1    30.0
3    30.0
4    30.0
5    30.0

> taxi['temp_C'] = temp_to_celcius(taxi['temp'])
> taxi['temp_C'][:5]
0   -1.111111
1   -1.111111
3   -1.111111
4   -1.111111
5   -1.111111

In [55]:
def tempToCelsium(temp):
    return (temp - 32) * 5 / 9
print(tempToCelsium(taxi.temp))

0        -1.111111
1        -1.111111
2        -1.111111
3        -1.111111
4        -1.111111
           ...
29096    23.888889
29097    23.888889
29098    23.888889
29099    23.888889
29100    23.888889
Name: temp, Length: 29101, dtype: float64